#shopping-cart-icon {
    margin-right: 5px;
}

.top-nav .dropdown a i {
    font-size: 2em;
}

.mini-cart {
    margin-right: 5px;
    background: #eee;
    width: 300px;
    position: absolute;
    top: 45px;
    right: -5px;
    z-index: 9999;
    display: none;
}

.mini-cart-list {
    margin: 0;
    padding: 0;
}

.mini-cart-list li.cart-item {
    background: #fff url(../img/no_photo_40x30.png) no-repeat 2px 8px;
    padding-left: 45px;
    padding-bottom: 3px;
}

.mini-cart-list li.cart-item .model-title {
    display: block;
    font-size: 0.8em;
}

.mini-cart-list li.cart-item .price, .mini-cart-list li.cart-item .qty {
    display: inline-block;
    font-size: 0.8em;
    color: #5ebe1e;
    font-weight: bold;
}

.mini-cart-list li.cart-item .qty {
    padding-left: 2px;
}

.mini-cart-list li.cart-item span {
    line-height: 0.9em;
}

.mini-cart-holder {
    background-color: #f1f1f1;
    margin: 0;
    display: inline-block;
    padding: 7px 10px;
    border: solid 1px #e3e6e8;
    border-top: 0;
    cursor: pointer;
}

.mini-cart-holder .fa {
    font-size: 2em;
}

.mini-cart-holder .popover {
    top: 2px;
    display: block;
    position: absolute;
    font-size: 0.83em;
    left: -139px;
}

.mini-cart-holder .popover .arrow {
    top: 46%;
}

.mini-cart .totals {
    font-size: 0.8em;
    padding-right: 7px;
}

.mini-cart .totals span.price {
    font-weight: bold;
}

.mini-cart .totals .btn .fa {
    font-size: 1.2em;
}

.mini-cart .totals .btn {
    font-size: 1em;
}

.mini-cart .totals {
    line-height: 2.4em;
}


/*
    full cart
*/

.full-cart-holder td .glyphicon {
    cursor: pointer;
}

.full-cart-holder .input-group {
    width: 65px;
}

.full-cart-holder .input-group input {
    width: 60px;
}

#refresh-cart {
    margin-right: 20px;
}

.delivery-form {
    display: none;
}

.delivery-form .input-group {
    margin-bottom: 15px;
    
}


.delivery-form .input-group-addon {
    width: 150px;
}

.delivery-form .input-group {
    width: 100%;
}


.btn-order {
    color: #3D3434;
    background-color: #F7C913;
    border-color: #A8A18D;
}

.btn-order:hover,
.btn-order:focus,
.btn-order:active,
.btn-order.active,
.open .dropdown-toggle.btn-order {
    color: #3D3434;
    background-color: #F6FCA9;
    border-color: #A8A18D;
}

.btn-order:active,
.btn-order.active,
.open .dropdown-toggle.btn-order {
    background-image: none;
}

.btn-order.disabled,
.btn-order[disabled],
fieldset[disabled] .btn-order,
.btn-order.disabled:hover,
.btn-order[disabled]:hover,
fieldset[disabled] .btn-order:hover,
.btn-order.disabled:focus,
.btn-order[disabled]:focus,
fieldset[disabled] .btn-order:focus,
.btn-order.disabled:active,
.btn-order[disabled]:active,
fieldset[disabled] .btn-order:active,
.btn-order.disabled.active,
.btn-order[disabled].active,
fieldset[disabled] .btn-order.active {
    background-color: #F7C913;
    border-color: #A8A18D;
}

.btn-order .badge {
    color: #F7C913;
    background-color: #3D3434;
}