.ec-box-header {
    text-align: left;
}

.ec-box-footer {
    background: none;
}

.letter {
    font-size: 24px;
    font-weight: 900;
}

ul.brand-list {

}

.brand-list li.item {
    float: left;
    width: 24%;
    list-style: none;
    margin-bottom: 6px;
    padding: 1rem;
}

@media (max-width: 768px) {
    .brand-list li.item {
        width: 49%;
    }
}

.bx-wrapper {
    margin-bottom: 0;
}

.product-note {
    font-size: 0.85em;
}

.home div a {
    display: block;
    text-align: center;
    font-size: 1.2em;
}

span.new-price {
    font-size: 0.7em;
}