.header-full-title {
    cursor: pointer;
    margin-right: 15px;
}

#search-mini {
    margin-top: 20px;
}

#phones-top, .top-nav {
    margin-top: 15px;
}

.navbar-default .navbar-brand {
    background-image: url("../img/logo_header_small.png") !important;
    padding-left: 75px;
    background-position: left center;
    background-repeat: no-repeat;
}


.main-header .page-title {
    font-size: 1.5em;
}

.main-header .breadcrumb {
    display: block;
    font-size: 0.8em;
    position: relative;
    padding: 5px 0 0 10px;
}

.header-full-title {
    background-image: url("../img/logo_header.png");
    padding-left: 130px;
}

.header-full-title h1 span {
    margin-left: 10px;
}

.header-full-title h1 {
    font-family: 'Noto Sans', sans-serif;;
}